In [4]:
# import relevant packages
import pandas as pd
import numpy as np

In [3]:
import sys
print(sys.executable)

/usr/local/bin/python3

In [ ]:
df = pd.read_csv("./archive/Books_rating.csv")
df = df.dropna(subset=['User_id', 'Id', 'review/score'])
df = df.drop_duplicates(subset=['User_id', 'Id'])

In [ ]:
df.info()

In [ ]:
df['review/score'] = df['review/score'].astype(float)
df['Id'] = df['Id'].astype(str)
df['User_id'] = df['User_id'].astype(str)

In [ ]:
user_counts = df['User_id'].value_counts()
book_counts = df['Id'].value_counts()
df = df[df['User_id'].isin(user_counts[user_counts >= 5].index)]
df = df[df['Id'].isin(book_counts[book_counts >= 5].index)]

In [ ]:
# Remove the specified columns
columns_to_drop = ["Price", "review/helpfulness", "review/time", "profileName"]
df.drop(columns=columns_to_drop, inplace=True)

In [ ]:
df.head()

In [ ]:
# Drop rows where 'Title' is null or empty string
df = df[~(df['Title'].isnull() | (df['Title'] == ''))].copy()

# Verify that no such rows remain
print(df['Title'].isnull().sum())
print((df['Title'] == '').sum())

In [ ]:
df.info()
df.tail(10)

In [ ]:
# Plot histogram
plt.figure(figsize=(8, 5))
plt.hist(df['review/score'], bins=[0.5, 1.5, 2.5, 3.5, 4.5, 5.5], color='skyblue', edgecolor='black', rwidth=0.8)
plt.title('Distribution of Review Scores')
plt.xticks([1, 2, 3, 4, 5])
plt.xlabel('Review Score')
plt.ylabel('Frequency')
plt.grid(axis='y', linestyle='--')
plt.show()

In [ ]:
mean_score = df['review/score'].mean()
variance_score = df['review/score'].var()
std_score = df['review/score'].std()
median_score = df['review/score'].median()

print("Mean:", mean_score)
print("Variance:", variance_score)
print("Standard Deviation:", std_score)
print("Median:", median_score)

In [ ]:
import matplotlib.pyplot as plt

user_review_counts = df['User_id'].value_counts()
plt.figure(figsize=(8, 5))
plt.hist(user_review_counts, bins=20, color='lightgreen', edgecolor='black', log=True)
plt.title('Number of Reviews per User')
plt.xlabel('Reviews per User')
plt.ylabel('Number of Users (log scale)')
plt.grid(axis='y', linestyle='--')
plt.show()

In [ ]:
book_review_counts = df['Id'].value_counts()
plt.figure(figsize=(8, 5))
plt.hist(book_review_counts, bins=20, color='lightblue', edgecolor='black', log=True)
plt.title('Number of Reviews per Book')
plt.xlabel('Reviews per Book')
plt.ylabel('Number of Books (log scale)')
plt.grid(axis='y', linestyle='--')
plt.show()

In [ ]:
top_books = df['Id'].value_counts().head(5)
print("Top 5 books with most reviews:")
print(top_books)

In [ ]:
least_books = df['Id'].value_counts().tail(5)
print("5 books with least reviews:")
print(least_books)

In [ ]:
# Top 5
top_book_ids = top_books.index
top_book_titles = df[df['Id'].isin(top_book_ids)][['Id', 'Title']].drop_duplicates()
print(top_book_titles)

print("")
print("")
# Least 5
least_book_ids = least_books.index
least_book_titles = df[df['Id'].isin(least_book_ids)][['Id', 'Title']].drop_duplicates()
print(least_book_titles)