In [15]:
# import relevant packages
import pandas as pd
import numpy as np

In [19]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
import sys
print(sys.executable)

/usr/local/bin/python3

In [3]:
df = pd.read_csv("./ratings_clean.csv")
df = df.dropna(subset=['user_id', 'item_id', 'rating', 'title'])
df = df.drop_duplicates(subset=['user_id', 'item_id'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 944578 entries, 0 to 1121217
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  944578 non-null  object
 1   item_id  944578 non-null  object
 2   rating   944578 non-null  float64
 3   title    944578 non-null  object
dtypes: float64(1), object(3)
memory usage: 36.0+ MB

In [6]:
df['rating'] = df['rating'].astype(float)
df['item_id'] = df['item_id'].astype(str)
df['user_id'] = df['user_id'].astype(str)

In [7]:
user_counts = df['user_id'].value_counts()
book_counts = df['item_id'].value_counts()
df = df[df['user_id'].isin(user_counts[user_counts >= 5].index)]
df = df[df['item_id'].isin(book_counts[book_counts >= 5].index)]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 917908 entries, 0 to 1121207
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  917908 non-null  object
 1   item_id  917908 non-null  object
 2   rating   917908 non-null  float64
 3   title    917908 non-null  object
dtypes: float64(1), object(3)
memory usage: 35.0+ MB

In [10]:
df.head()

          user_id     item_id  rating                     title
0  A30TK6U7DNS82R  0826414346     5.0  Dr. Seuss: American Icon
1  A2MVUWT453QH61  0826414346     4.0  Dr. Seuss: American Icon
2  A22X4XUPKF66MR  0826414346     4.0  Dr. Seuss: American Icon
3  A2F6NONFUDB6UK  0826414346     4.0  Dr. Seuss: American Icon
4  A14OJS0VWMOSWO  0826414346     5.0  Dr. Seuss: American Icon

In [11]:
# Drop rows where 'Title' is null or empty string
df = df[~(df['title'].isnull() | (df['title'] == ''))].copy()

# Verify that no such rows remain
print(df['title'].isnull().sum())
print((df['title'] == '').sum())

0
0

In [ ]:
df.info()
df.tail(10)

In [13]:
# Plot histogram
plt.figure(figsize=(8, 5))
plt.hist(df['rating'], bins=[0.5, 1.5, 2.5, 3.5, 4.5, 5.5], color='skyblue', edgecolor='black', rwidth=0.8)
plt.title('Distribution of Review Scores')
plt.xticks([1, 2, 3, 4, 5])
plt.xlabel('Rating')
plt.ylabel('Frequency')
plt.grid(axis='y', linestyle='--')
plt.show()

NameError: name 'plt' is not defined

In [ ]:
mean_score = df['review/score'].mean()
variance_score = df['review/score'].var()
std_score = df['review/score'].std()
median_score = df['review/score'].median()

print("Mean:", mean_score)
print("Variance:", variance_score)
print("Standard Deviation:", std_score)
print("Median:", median_score)

In [ ]:
import matplotlib.pyplot as plt

user_review_counts = df['User_id'].value_counts()
plt.figure(figsize=(8, 5))
plt.hist(user_review_counts, bins=20, color='lightgreen', edgecolor='black', log=True)
plt.title('Number of Reviews per User')
plt.xlabel('Reviews per User')
plt.ylabel('Number of Users (log scale)')
plt.grid(axis='y', linestyle='--')
plt.show()

In [ ]:
book_review_counts = df['Id'].value_counts()
plt.figure(figsize=(8, 5))
plt.hist(book_review_counts, bins=20, color='lightblue', edgecolor='black', log=True)
plt.title('Number of Reviews per Book')
plt.xlabel('Reviews per Book')
plt.ylabel('Number of Books (log scale)')
plt.grid(axis='y', linestyle='--')
plt.show()

In [ ]:
top_books = df['Id'].value_counts().head(5)
print("Top 5 books with most reviews:")
print(top_books)

In [ ]:
least_books = df['Id'].value_counts().tail(5)
print("5 books with least reviews:")
print(least_books)

In [ ]:
# Top 5
top_book_ids = top_books.index
top_book_titles = df[df['Id'].isin(top_book_ids)][['Id', 'Title']].drop_duplicates()
print(top_book_titles)

print("")
print("")
# Least 5
least_book_ids = least_books.index
least_book_titles = df[df['Id'].isin(least_book_ids)][['Id', 'Title']].drop_duplicates()
print(least_book_titles)